/*
 * defaults for various generic parameters; set in site.def if needed
 */

/* the following are needed before we can include Imake.rules */

#ifndef SystemV
#define SystemV			NO	/* SYSV (R3) */
#endif
#ifndef SystemV4
#define SystemV4		NO	/* SVR4 */
#endif
#ifndef HasCodeCenter
#define HasCodeCenter		NO
#endif
#ifndef HasSentinel
#define HasSentinel		NO
#endif
#ifndef HasPurify
#define HasPurify		NO
#endif
#ifndef HasTestCenter
#define HasTestCenter		NO
#endif
#ifndef RemoveTargetProgramByMoving
#define RemoveTargetProgramByMoving NO
#endif
#ifndef DoRanlibCmd
#if SystemV || SystemV4
#define DoRanlibCmd NO
#else
#define DoRanlibCmd YES
#endif
#endif
#ifndef ExecableScripts
#if SystemV
#define ExecableScripts		NO
#else
#define ExecableScripts		YES	/* kernel exec() can handle #! */
#endif
#endif

#ifndef HasSharedLibraries
#define HasSharedLibraries NO
#endif
#ifndef OSMajorVersion
#define OSMajorVersion          0
#endif
#ifndef OSMinorVersion
#define OSMinorVersion          0
#endif
#ifndef UnalignedReferencesAllowed
#define UnalignedReferencesAllowed NO	/* if arbitrary deref is okay */
#endif
#ifndef AvoidNullMakeCommand
#define AvoidNullMakeCommand NO
#endif
#if AvoidNullMakeCommand
/*
 * An obscure bug in BSD4.3's original make causes it not to recognize a
 * macro definition if the macro name starts with a non-alpha and in
 * column one.
 */
 _NULLCMD_ = @ echo -n
#endif

#ifndef CrossCompiling
#define CrossCompiling		NO
#endif

#ifndef HasLargeTmp
#define HasLargeTmp		NO	/* be paranoid */
#endif

#ifndef HasBSD44Sockets
#define HasBSD44Sockets		NO
#endif
#ifndef HasSockets
#define HasSockets		YES
#endif
#ifndef HasStreams
#define HasStreams		!HasSockets
#endif
#ifndef HasDECnet
#define HasDECnet		NO
#endif
#ifndef HasPoll
#if SystemV || SystemV4
#define HasPoll			YES
#else
#define HasPoll			NO
#endif
#endif
#ifndef HasVFork
#if SystemV
#define HasVFork		NO	/* not yet... */
#else
#define HasVFork		YES
#endif
#endif
#ifndef HasPutenv
#define HasPutenv		NO	/* assume not */
#endif
#ifndef HasVoidSignalReturn
#define HasVoidSignalReturn	YES	/* assume yes */
#endif
#ifndef HasBsearch
#define HasBsearch		YES	/* assume yes */
#endif

#ifndef HasFortran 
#define HasFortran              NO
#endif
#if HasFortran
/* Define the defaults for fortran features.  All of these features
   must be provided to compile all of the code.  If a file requires a 
   feature and it's not present, it can be excluded from the make with
   an #if !FortranHas<blah> */
#ifndef FortranHasStructures
#define FortranHasStructures YES
#endif
#ifndef StrictF77
#define StrictF77 NO
#endif
#ifndef FortranRulesFile
/* need this to make ANSI-style preprocessors happy */
#define FortranRulesFile <fortran.rules>
#endif
#endif
#ifndef HasCHGEN
#define HasCHGEN		YES
#endif
#ifndef HasInc2h
#define HasInc2h		YES
#endif
#ifndef HasKUIPC
#define HasKUIPC		YES
#endif
#ifndef HasCplusplus
#if HasGcc2ForCplusplus
#define HasCplusplus		YES
#else
#define HasCplusplus		NO
#endif
#endif
#ifndef HasNdbm
#define HasNdbm			NO
#endif
#ifndef HasSecureRPC
#define HasSecureRPC		NO	/* if you have Secure RPC */
#endif
#ifndef HasKrb5
#define HasKrb5			NO      /* if you have Kerberos V5 */
#endif
#ifndef HasLatex
#define HasLatex		YES
#endif
#ifndef HasShm
#if SystemV || SystemV4
#define HasShm			YES
#else
#define HasShm			NO
#endif
#endif
#if HasKrb5
#ifndef Krb5Includes
#define Krb5Includes -I/krb5/include
#endif
#ifndef Krb5Libraries
#define Krb5Libraries -L/krb5/lib -L/usr/isode/lib -lkrb5 -lcrypto -lisode -lcom_err -ldbm
#endif
#else
#undef Krb5Includes
#define Krb5Includes /**/
#undef Krb5Libraries
#define Krb5Libraries /**/
#endif
#ifndef NeedConstPrototypes
#define NeedConstPrototypes	NO
#endif
#ifndef NeedVarargsPrototypes
#define NeedVarargsPrototypes	NO
#endif
#ifndef NeedNestedPrototypes
#define NeedNestedPrototypes	NO
#endif
#ifndef NeedFunctionPrototypes
#define NeedFunctionPrototypes (NeedVarargsPrototypes || NeedNestedPrototypes)
#endif
#ifndef NeedWidePrototypes
#define NeedWidePrototypes	YES	/* mix and match ANSI-C, non-ANSI */
#endif

#ifndef StripInstalledPrograms
#define StripInstalledPrograms NO	/* leave symbol table just in case */
#endif
#ifndef UseCCMakeDepend			/* use slow cc -E script */
#define UseCCMakeDepend NO
#endif
/* If the installed file is newer than the build directory, then do
 not force an installation.  If your site has NFS and the computer
 clocks are out of sync (RUN NNTP!), you should override this in your
 site.def  */
#ifndef AlwaysInstall
#define AlwaysInstall YES
#endif

#ifndef BootstrapCFlags
#define BootstrapCFlags /**/
#endif
#ifndef HasGcc2
#define HasGcc2 NO
#endif
#ifndef HasGcc
#define HasGcc HasGcc2
#endif
#ifndef HasGcc2ForCplusplus
#define HasGcc2ForCplusplus NO
#endif
#ifndef HasCenterLineC
#define HasCenterLineC NO
#endif
#ifndef HasApogee
#define HasApogee NO
#endif
#ifndef HasEPC
#define HasEPC NO
#endif
#ifndef HasCenterLineCplusplus
#define HasCenterLineCplusplus NO
#endif
#ifndef LoaderLibPrefix
#define LoaderLibPrefix /**/
#endif

/* Dummy default.  This macro should be used from Imake command line to
   define a non-standard compiler select macro like 'HasEPC' or similar */
#ifndef ImakeCompilerSelect
#define ImakeCompilerSelect /**/
#define UseImakeCompilerSelect /**/
#else
#define UseImakeCompilerSelect -DImakeCompilerSelect=ImakeCompilerSelect ImakeCompilerSelect
#endif

#ifndef ExpandManNames
#if SystemV
#define ExpandManNames NO
#else
#define ExpandManNames YES
#endif
#endif

#ifndef ToolkitStringsABIOptions
#define ToolkitStringsABIOptions /**/
#endif

#ifndef Malloc0ReturnsNull
#define Malloc0ReturnsNull NO
#endif

#ifndef Osuf
#define Osuf o
#endif

#ifndef CCsuf
#define CCsuf cc
#endif

#ifndef MachineDir
#  define MachineDir unknown
#endif

/* The prefix of the directory to place object and machine dependent */
/* files in.  This will be a local subdirectory of the build */
/* directory. */
#ifndef ObjectPrefix
#define ObjectPrefix $(MACHINE)/
#endif

/* dummy macros for Unix; these are needed on VMS */
#ifndef NeedTcpipLib
#define NeedTcpipLib /**/
#endif
#ifndef NeedSysexe
#define NeedSysexe /**/
#endif
#ifndef NeedgethostnameObj
#define NeedgethostnameObj /**/
#endif
/* end dummy Macros */

