/* $Id: Fresco.tmpl,v 1.1.1.1 2016/11/04 20:29:56 mdunkman Exp $
 *
 * $Log: Fresco.tmpl,v $
 * Revision 1.1.1.1  2016/11/04 20:29:56  mdunkman
 * Import of NEUT 5.3.3 v1r27 for use with T2KReWeight v1r27 (Winter OA 2017)
 *
 * Revision 1.2  1997/05/27 15:55:08  mcgrew
 * Add patches to keep compadible with the K2K config files.
 *
 * Revision 1.1.1.1  1997/04/26 08:45:47  mcgrew
 * import config files
 *
 * Revision 1.1.1.1  1995/12/20 15:26:47  cernlib
 * X11R6 config files unmodified
 *
 *
 */
XCOMM $XConsortium: Fresco.tmpl,v 1.5 94/03/31 16:31:31 matt Exp $
XCOMM
XCOMM Definitions for using Fresco library
XCOMM

        DEPLIBS = FrescoClientDepLibs
LOCAL_LIBRARIES = FrescoClientLibs

#include <Threads.tmpl>

#define CplusplusSource

NormalCplusplusObjectRule()
