/* $Id: necLib.tmpl,v 1.1 2007-01-20 07:35:44 skrep Exp $
 *
 * $Log: not supported by cvs2svn $
 * Revision 1.2  1997/05/27 15:56:01  mcgrew
 * Add patches to keep compadible with the K2K config files.
 *
 * Revision 1.1.1.1  1997/04/26 08:45:52  mcgrew
 * import config files
 *
 * Revision 1.1.1.1  1995/12/20 15:26:44  cernlib
 * X11R6 config files unmodified
 *
 *
 */
XCOMM $XConsortium: necLib.tmpl,v 1.1 94/03/26 18:15:22 rws Exp $

/*
 * NEC shared library template
 */

#ifndef SharedXlibRev
#define SharedXlibRev 4.10
#endif
#ifndef SharedOldXRev
#define SharedOldXRev 4.10
#endif
#ifndef SharedXtRev
#define SharedXtRev 4.10
#endif
#ifndef SharedXawRev
#define SharedXawRev 5.0
#endif
#ifndef SharedXmuRev
#define SharedXmuRev 4.10
#endif
#ifndef SharedXextRev
#define SharedXextRev 4.10
#endif
#ifndef SharedXinputRev
#define SharedXinputRev 4.10
#endif

#include <sv4Lib.tmpl>
