/* $Id: osfLib.tmpl,v 1.1.1.1 2016/11/04 20:29:56 mdunkman Exp $
 *
 * $Log: osfLib.tmpl,v $
 * Revision 1.1.1.1  2016/11/04 20:29:56  mdunkman
 * Import of NEUT 5.3.3 v1r27 for use with T2KReWeight v1r27 (Winter OA 2017)
 *
 * Revision 1.2  1997/05/27 15:56:06  mcgrew
 * Add patches to keep compadible with the K2K config files.
 *
 * Revision 1.1.1.1  1997/04/26 08:45:52  mcgrew
 * import config files
 *
 * Revision 1.1.1.1  1995/12/20 15:26:43  cernlib
 * X11R6 config files unmodified
 *
 *
 */
XCOMM $XConsortium: osfLib.tmpl,v 1.18 94/06/03 21:38:46 matt Exp $

/*
 * OSF/1 shared library template
 */

#if ThreadedX && ModernOSF1
#define SharedX11Reqs -lpthreads -lmach
#endif
#define SharedOldXReqs $(LDPRELIB) $(XLIBONLY)

#if ThreadedX && ModernOSF1
#define SharedXtReqs $(LDPRELIB) $(XLIBONLY) $(SMLIB) $(ICELIB) -lpthreads -lmach
#else
#define SharedXtReqs $(LDPRELIB) $(XLIBONLY) $(SMLIB) $(ICELIB)
#endif
#define SharedXawReqs $(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XLIB) -init _XawFixupVendorShell
#define SharedXmuReqs $(LDPRELIB) $(XTOOLLIB) $(XLIB)
#define SharedXextReqs $(LDPRELIB) $(XLIBONLY)
#define SharedXiReqs $(LDPRELIB) $(XLIB)
#define SharedPexReqs $(LDPRELIB) $(XLIBONLY) MathLibrary
#define SharedXtstReqs $(LDPRELIB) $(XLIB)
#define SharedXieReqs $(LDPRELIB) $(XLIBONLY)
#define SharedSMReqs $(LDPRELIB) $(ICELIB)

#if ThreadedX && ModernOSF1
#define FrescoSysLibs  -lpthreads -lmach CplusplusLibC MathLibrary
#else
#define FrescoSysLibs  CplusplusLibC MathLibrary
#endif

#define SharedFrescoReqs $(LDPRELIB) $(XLIBONLY) FrescoSysLibs
#define SharedXtfReqs $(LDPRELIB) $(FRESCOLIB) $(XTOOLLIB) $(XLIB) FrescoSysLibs
